In [1]:
import pandas as pd
import glob
import regex as re
import query_gen as qg

In [2]:
files = glob.glob("results/*.csv")
dfs = [pd.read_csv(f, index_col=0) for f in files]
files

['results/eval_results_UniProt_oneshot_NousResearch-Hermes-3-Llama-3.2-3B-GGUF.csv',
 'results/eval_results_DBpedia_oneshot_NousResearch-Hermes-3-Llama-3.1-8B-GGUF.csv',
 'results/eval_results_UniProt_oneshot_NousResearch-Hermes-3-Llama-3.1-8B-GGUF.csv',
 'results/eval_results_DBpedia_zeroshot_NousResearch-Hermes-3-Llama-3.2-3B-GGUF.csv',
 'results/eval_results_UniProt_zeroshot_NousResearch-Hermes-3-Llama-3.2-3B-GGUF.csv',
 'results/eval_results_DBpedia_oneshot_NousResearch-Hermes-3-Llama-3.2-3B-GGUF.csv']

In [3]:

def graph_from_erl(erl: qg.EnrichedEntitiesRelations):
    G = qg.nx.DiGraph()
    for node in erl.entities:
        G.add_node(node.identifier, label=node.type)
    for link in erl.relations:
        G.add_edge(
            link.entity,
            link.target,
            weight=link.link.instance_count,
            label=link.relation,
        )
    return G

In [4]:
for f, df in zip(files, dfs):
    # data=re.findall(r"results/eval_results_(\w+)_.*", f)[0]
    # prompt_type=re.findall(r"results/eval_results_(\w+)_.*", f)[0]
    model = re.findall(r"results/eval_results_\w+_(.+)\.csv", f)[0]
    # df['prompt_type'] = prompt_type
    df["model"] = (
        model.replace("_", " ")
        .replace("-", " ")
        .rstrip("-GGUF")
        .lstrip("NousResearch Hermes 3")
    )

df = pd.concat(dfs)
df

,erl,response,generator,n_nodes,seed,erl_loaded,f1_score,precision,recall,ged,normed_ged,model,cfg_name,zeroshot
0,"{""relations"":[{""entity"":""Reviewed protein (rec...","{""relations"":[{""entity"":""protein 1"",""relation""...",llama,3,0,relations=[EnrichedRelation(entity='Reviewed p...,0.500000,1.0,0.333333,5.0,0.000000,Llama 3.2 3B,UniProt,False
1,"{""relations"":[{""entity"":""Reviewed protein (rec...",a Reviewed protein (records) has a domain with...,templated,3,0,relations=[EnrichedRelation(entity='Reviewed p...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
2,"{""relations"":[{""entity"":""Submission Citation"",...","{""relations"":[{""entity"":""submission"",""relation...",llama,3,1,relations=[EnrichedRelation(entity='Submission...,1.000000,1.0,1.000000,0.0,1.000000,Llama 3.2 3B,UniProt,False
3,"{""relations"":[{""entity"":""Submission Citation"",...","{""relations"":[{""entity"":""Submission Citation 1...",templated,3,1,relations=[EnrichedRelation(entity='Submission...,1.000000,1.0,1.000000,0.0,1.000000,Llama 3.2 3B,UniProt,False
4,"{""relations"":[{""entity"":""Citation"",""relation"":...",A citation is published in a journal and a rev...,llama,3,2,"relations=[EnrichedRelation(entity='Citation',...",NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,"{""relations"":[{""entity"":""ethnic group"",""relati...",a ethnic group has a population place with pop...,templated,10,297,relations=[EnrichedRelation(entity='ethnic gro...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
1796,"{""relations"":[{""entity"":""Organisation member"",...",An Organisation member has nationality of a co...,llama,10,298,relations=[EnrichedRelation(entity='Organisati...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
1797,"{""relations"":[{""entity"":""Organisation member"",...",a Organisation member has a nationality with c...,templated,10,298,relations=[EnrichedRelation(entity='Organisati...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
1798,"{""relations"":[{""entity"":""person"",""relation"":""b...",- A person is born in a populated place.\n- A ...,llama,10,299,"relations=[EnrichedRelation(entity='person', r...",NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
1799,"{""relations"":[{""entity"":""person"",""relation"":""b...","{""relations"":[{""entity"":""person 1"",""relation"":...",templated,10,299,"relations=[EnrichedRelation(entity='person', r...",0.181818,1.0,0.100000,50.0,-1.631579,Llama 3.2 3B,DBpedia,False

In [5]:
df

,erl,response,generator,n_nodes,seed,erl_loaded,f1_score,precision,recall,ged,normed_ged,model,cfg_name,zeroshot
0,"{""relations"":[{""entity"":""Reviewed protein (rec...","{""relations"":[{""entity"":""protein 1"",""relation""...",llama,3,0,relations=[EnrichedRelation(entity='Reviewed p...,0.500000,1.0,0.333333,5.0,0.000000,Llama 3.2 3B,UniProt,False
1,"{""relations"":[{""entity"":""Reviewed protein (rec...",a Reviewed protein (records) has a domain with...,templated,3,0,relations=[EnrichedRelation(entity='Reviewed p...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
2,"{""relations"":[{""entity"":""Submission Citation"",...","{""relations"":[{""entity"":""submission"",""relation...",llama,3,1,relations=[EnrichedRelation(entity='Submission...,1.000000,1.0,1.000000,0.0,1.000000,Llama 3.2 3B,UniProt,False
3,"{""relations"":[{""entity"":""Submission Citation"",...","{""relations"":[{""entity"":""Submission Citation 1...",templated,3,1,relations=[EnrichedRelation(entity='Submission...,1.000000,1.0,1.000000,0.0,1.000000,Llama 3.2 3B,UniProt,False
4,"{""relations"":[{""entity"":""Citation"",""relation"":...",A citation is published in a journal and a rev...,llama,3,2,"relations=[EnrichedRelation(entity='Citation',...",NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,"{""relations"":[{""entity"":""ethnic group"",""relati...",a ethnic group has a population place with pop...,templated,10,297,relations=[EnrichedRelation(entity='ethnic gro...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
1796,"{""relations"":[{""entity"":""Organisation member"",...",An Organisation member has nationality of a co...,llama,10,298,relations=[EnrichedRelation(entity='Organisati...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
1797,"{""relations"":[{""entity"":""Organisation member"",...",a Organisation member has a nationality with c...,templated,10,298,relations=[EnrichedRelation(entity='Organisati...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
1798,"{""relations"":[{""entity"":""person"",""relation"":""b...",- A person is born in a populated place.\n- A ...,llama,10,299,"relations=[EnrichedRelation(entity='person', r...",NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,NaN
1799,"{""relations"":[{""entity"":""person"",""relation"":""b...","{""relations"":[{""entity"":""person 1"",""relation"":...",templated,10,299,"relations=[EnrichedRelation(entity='person', r...",0.181818,1.0,0.100000,50.0,-1.631579,Llama 3.2 3B,DBpedia,False

In [6]:
df["prompt_type"] = df["zeroshot"].apply(lambda x: "zero shot" if x else "one shot")
df.drop(columns=["zeroshot"], inplace=True)
df

,erl,response,generator,n_nodes,seed,erl_loaded,f1_score,precision,recall,ged,normed_ged,model,cfg_name,prompt_type
0,"{""relations"":[{""entity"":""Reviewed protein (rec...","{""relations"":[{""entity"":""protein 1"",""relation""...",llama,3,0,relations=[EnrichedRelation(entity='Reviewed p...,0.500000,1.0,0.333333,5.0,0.000000,Llama 3.2 3B,UniProt,one shot
1,"{""relations"":[{""entity"":""Reviewed protein (rec...",a Reviewed protein (records) has a domain with...,templated,3,0,relations=[EnrichedRelation(entity='Reviewed p...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,zero shot
2,"{""relations"":[{""entity"":""Submission Citation"",...","{""relations"":[{""entity"":""submission"",""relation...",llama,3,1,relations=[EnrichedRelation(entity='Submission...,1.000000,1.0,1.000000,0.0,1.000000,Llama 3.2 3B,UniProt,one shot
3,"{""relations"":[{""entity"":""Submission Citation"",...","{""relations"":[{""entity"":""Submission Citation 1...",templated,3,1,relations=[EnrichedRelation(entity='Submission...,1.000000,1.0,1.000000,0.0,1.000000,Llama 3.2 3B,UniProt,one shot
4,"{""relations"":[{""entity"":""Citation"",""relation"":...",A citation is published in a journal and a rev...,llama,3,2,"relations=[EnrichedRelation(entity='Citation',...",NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,zero shot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,"{""relations"":[{""entity"":""ethnic group"",""relati...",a ethnic group has a population place with pop...,templated,10,297,relations=[EnrichedRelation(entity='ethnic gro...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,zero shot
1796,"{""relations"":[{""entity"":""Organisation member"",...",An Organisation member has nationality of a co...,llama,10,298,relations=[EnrichedRelation(entity='Organisati...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,zero shot
1797,"{""relations"":[{""entity"":""Organisation member"",...",a Organisation member has a nationality with c...,templated,10,298,relations=[EnrichedRelation(entity='Organisati...,NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,zero shot
1798,"{""relations"":[{""entity"":""person"",""relation"":""b...",- A person is born in a populated place.\n- A ...,llama,10,299,"relations=[EnrichedRelation(entity='person', r...",NaN,NaN,NaN,NaN,NaN,Llama 3.2 3B,NaN,zero shot
1799,"{""relations"":[{""entity"":""person"",""relation"":""b...","{""relations"":[{""entity"":""person 1"",""relation"":...",templated,10,299,"relations=[EnrichedRelation(entity='person', r...",0.181818,1.0,0.100000,50.0,-1.631579,Llama 3.2 3B,DBpedia,one shot

In [7]:
df_clean = df.dropna()
df_clean.describe()

,n_nodes,seed,f1_score,precision,recall,ged,normed_ged
count,6205.000000,6205.000000,6205.000000,6205.000000,6205.000000,6205.000000,6205.000000
mean,5.852699,148.632393,0.754508,0.876600,0.702137,4.574376,0.417301
std,2.893204,86.487219,0.242840,0.207466,0.277692,6.396966,0.635045
min,3.000000,0.000000,0.133333,0.200000,0.100000,0.000000,-13.000000
25%,3.000000,74.000000,0.571429,0.750000,0.500000,1.000000,0.166667
50%,5.000000,148.000000,0.800000,1.000000,0.666667,3.000000,0.555556
75%,10.000000,223.000000,1.000000,1.000000,1.000000,6.000000,0.833333
max,10.000000,299.000000,1.000000,1.000000,1.000000,61.000000,1.000000

In [10]:
df["erl_loaded"] = df["erl"].apply(qg.EnrichedEntitiesRelations.model_validate_json)
# df["response_loaded"] = df["response"].apply(lambda x: qg.EnrichedEntitiesRelations.model_validate_json(x) if isinstance(x, str) else None)
df["erl_graph"] = df["erl_loaded"].apply(graph_from_erl)
# df["response_graph"] = df["response"].apply(lambda x: graph_from_erl if x is not None else None)

In [13]:
df["normed_ged"] = 1 - df["ged"] / df["erl_graph"].apply(
    lambda x: (len(x.nodes) + len(x.nodes))
)

In [14]:
means = df_clean.groupby(["n_nodes", "prompt_type", "model", "generator", "cfg_name"])[
    ["f1_score", "normed_ged"]
].mean()
counts = df_clean.groupby(["n_nodes", "prompt_type", "model", "generator", "cfg_name"])[
    ["f1_score", "normed_ged"]
].count()
means

                                                      f1_score  normed_ged
n_nodes prompt_type model         generator cfg_name
3       one shot    Llama 3.1 8B  human     DBpedia   0.700000    0.500000
                                  llama     DBpedia   0.773518    0.465777
                                            UniProt   0.709953    0.558559
                                  templated DBpedia   0.873156    0.580620
                                            UniProt   0.817474    0.713095
                    Llama 3.2 3B  human     DBpedia   0.688889    0.511111
                                  llama     DBpedia   0.792252    0.293004
                                            UniProt   0.739227    0.465994
                                  templated DBpedia   0.879489    0.431655
                                            UniProt   0.868221    0.435216
        zero shot   Llama 3.2 3B  human     DBpedia   0.500000    0.200000
                                  llama     DBpedia   0.648958    0.219792
                                            UniProt   0.627381    0.375298
                                  templated DBpedia   0.608712    0.282619
                                            UniProt   0.774653    0.638194
5       one shot    Llama 3.1 8B  human     DBpedia   0.933333    0.666667
                                  llama     DBpedia   0.733572    0.276531
                                            UniProt   0.719127    0.444305
                                  templated DBpedia   0.845764    0.483851
                                            UniProt   0.786174    0.744048
                    Llama 3.2 3B  human     DBpedia   1.000000    0.666667
                                  llama     DBpedia   0.716179    0.250171
                                            UniProt   0.746519    0.407595
                                  templated DBpedia   0.797523    0.138179
                                            UniProt   0.878965    0.423916
        zero shot   Llama 3.2 3B  human     DBpedia   0.500000    0.166667
                                  llama     DBpedia   0.563743    0.184810
                                            UniProt   0.586640    0.379514
                                  templated DBpedia   0.566283    0.337107
                                            UniProt   0.783247    0.664478
10      one shot    Llama 3.1 8B  human     DBpedia   0.652288    0.136842
                                  llama     DBpedia   0.666543    0.072491
                                            UniProt   0.699440    0.542935
                                  templated DBpedia   0.793400    0.397632
                                            UniProt   0.786138    0.740781
                    Llama 3.2 3B  human     DBpedia   0.583333    0.016708
                                  llama     DBpedia   0.608290    0.095961
                                            UniProt   0.721885    0.397749
                                  templated DBpedia   0.762484    0.239044
                                            UniProt   0.859680    0.366417
        zero shot   Llama 3.2 3B  human     DBpedia   0.449495    0.323810
                                  llama     DBpedia   0.390524    0.016826
                                            UniProt   0.593698    0.329833
                                  templated DBpedia   0.530473    0.196401
                                            UniProt   0.786741    0.650099

In [ ]:
counts

                                                      f1_score  normed_ged
n_nodes prompt_type model         generator cfg_name
3       one shot    Llama 3.1 8B  human     DBpedia          2           2
                                  llama     DBpedia        213         213
                                            UniProt        222         222
                                  templated DBpedia        215         215
                                            UniProt        224         224
                    Llama 3.2 3B  human     DBpedia          3           3
                                  llama     DBpedia        244         244
                                            UniProt        223         223
                                  templated DBpedia        244         244
                                            UniProt        239         239
        zero shot   Llama 3.2 3B  human     DBpedia          1           1
                                  llama     DBpedia         64          64
                                            UniProt        112         112
                                  templated DBpedia         40          40
                                            UniProt         96          96
5       one shot    Llama 3.1 8B  human     DBpedia          3           3
                                  llama     DBpedia        208         208
                                            UniProt        225         225
                                  templated DBpedia        210         210
                                            UniProt        226         226
                    Llama 3.2 3B  human     DBpedia          3           3
                                  llama     DBpedia        230         230
                                            UniProt        223         223
                                  templated DBpedia        231         231
                                            UniProt        234         234
        zero shot   Llama 3.2 3B  human     DBpedia          2           2
                                  llama     DBpedia         79          79
                                            UniProt        120         120
                                  templated DBpedia         53          53
                                            UniProt        101         101
10      one shot    Llama 3.1 8B  human     DBpedia          3           3
                                  llama     DBpedia        181         181
                                            UniProt        233         233
                                  templated DBpedia        171         171
                                            UniProt        227         227
                    Llama 3.2 3B  human     DBpedia          3           3
                                  llama     DBpedia        169         169
                                            UniProt        223         223
                                  templated DBpedia        157         157
                                            UniProt        232         232
        zero shot   Llama 3.2 3B  human     DBpedia          3           3
                                  llama     DBpedia         68          68
                                            UniProt        108         108
                                  templated DBpedia         47          47
                                            UniProt         90          90

In [11]:
column_map = {
    "f1_score": "$F_1$",
    "normed_ged": "$GED_{s}$",
    "prompt_type": "Prompt Type",
    "model": "Model",
    "n_nodes": "$m_{\\text{nodes}}$",
    "generator": "Query Origin",
}

## Compare Query Origins on DBpedia with 8B model

In [ ]:
query_gen_compare = df_clean[
    df_clean["model"].str.contains("8B") & df_clean["cfg_name"].str.contains("DBpedia") & df_clean["prompt_type"].str.contains("one shot")
]
grouped_query_gen_compare = query_gen_compare.groupby(["n_nodes", "generator"])[
    ["f1_score", "normed_ged"]
].mean()
grouped_query_gen_compare = grouped_query_gen_compare.rename(
    columns=column_map
).rename_axis([column_map["n_nodes"], column_map["generator"]], axis=0)
with open("tables/compare_gen_query.tex", "w") as f:
    f.write(
        grouped_query_gen_compare.to_latex(
            float_format="%.2f",
            caption="Comparison of query generation methods for LLama 3.1 8B on DBpedia with one shot prompts.",
            label="tab:compare_gen_query",
        )
    )
grouped_query_gen_compare

                                    $F_1$  $GED_{s}$
$m_{\text{nodes}}$ Query Origin
3                  human         0.700000   0.500000
                   llama         0.773518   0.446009
                   templated     0.873156   0.580620
5                  human         0.933333   0.814815
                   llama         0.733572   0.276531
                   templated     0.845764   0.483851
10                 human         0.652288   0.587302
                   llama         0.666543   0.072491
                   templated     0.793400   0.397632

## Compare models across Datasets

In [ ]:
datasets = ["DBpedia", "UniProt"]
for dataset in datasets:
    model_compare = df_clean[df_clean["cfg_name"].str.strip() == dataset]
    grouped_model_compare = model_compare.groupby(["n_nodes", "prompt_type", "model"])[
        ["f1_score", "normed_ged"]
    ].mean()
    grouped_model_compare = grouped_model_compare.rename(
        columns=column_map
    ).rename_axis([column_map["n_nodes"], column_map["prompt_type"], column_map["model"]], axis=0)
    with open(f"tables/compare_model_{dataset}.tex", "w") as f:
        f.write(
            grouped_model_compare.to_latex(
                float_format="%.2f",
                caption=f"Comparison of models for {dataset}",
                label=f"tab:compare_model_{dataset}",
            )
        )
grouped_model_compare

                                                 $F_1$  $GED_{s}$
$m_{\text{nodes}}$ Prompt Type Model
3                  one shot    Llama 3.1 8B   0.763955   0.636173
                               Llama 3.2 3B   0.805958   0.450072
                   zero shot   Llama 3.2 3B   0.695353   0.496635
5                  one shot    Llama 3.1 8B   0.752725   0.594509
                               Llama 3.2 3B   0.814336   0.415952
                   zero shot   Llama 3.2 3B   0.676492   0.509746
10                 one shot    Llama 3.1 8B   0.742224   0.640568
                               Llama 3.2 3B   0.792146   0.381773
                   zero shot   Llama 3.2 3B   0.681445   0.475408

In [14]:
dataset

'UniProt'

In [15]:
df_clean["cfg_name"].str.strip() == "DBpedia"

0       False
2       False
3       False
5       False
7       False
        ...
1783     True
1785     True
1791     True
1792     True
1799     True
Name: cfg_name, Length: 6205, dtype: bool