In [1]:
import pandas as pd
import glob
import regex as re

In [2]:
files = glob.glob("results/*.csv")
dfs = [pd.read_csv(f, index_col=0) for f in files]
files[0]

'results/eval_results_oneshot_NousResearch-Hermes-3-Llama-3.2-1B-GGUF.csv'

In [3]:
for f, df in zip(files, dfs):

    prompt_type=re.findall(r"results/eval_results_(\w+)_.*", f)[0]
    model_id=re.findall(r"results/eval_results_\w+_(.+)\.csv", f)[0]
    df['prompt_type'] = prompt_type
    df['model_id'] = model_id

df = pd.concat(dfs)
df

,erl,response,n_nodes,seed,prompt_type,model_id,f1_score,edit_distance,precision,recall
0,relations=[EnrichedRelation(entity='Organisati...,An organisation member's death place is a stre...,3,0,oneshot,NousResearch-Hermes-3-Llama-3.2-1B-GGUF,NaN,NaN,NaN,NaN
1,relations=[EnrichedRelation(entity='written wo...,"A written work, which is a part of a multi-vol...",3,1,oneshot,NousResearch-Hermes-3-Llama-3.2-1B-GGUF,NaN,NaN,NaN,NaN
2,"relations=[EnrichedRelation(entity='work', rel...",A work stars an actor and has an auteur who is...,3,2,oneshot,NousResearch-Hermes-3-Llama-3.2-1B-GGUF,NaN,NaN,NaN,NaN
3,relations=[EnrichedRelation(entity='Organisati...,An organisation member of an organisation has ...,3,3,oneshot,NousResearch-Hermes-3-Llama-3.2-1B-GGUF,NaN,NaN,NaN,NaN
4,relations=[EnrichedRelation(entity='Grand Prix...,The Grand Prix has its first driver being a Sp...,3,4,oneshot,NousResearch-Hermes-3-Llama-3.2-1B-GGUF,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
892,"relations=[EnrichedRelation(entity='person', r...",A person has an alma mater which is a school. ...,10,295,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.200000,-0.250000,1.000000,0.111111
893,relations=[EnrichedRelation(entity='Organisati...,An Organisation member is born in a town and t...,10,296,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.428571,-0.190476,0.750000,0.300000
894,relations=[EnrichedRelation(entity='ethnic gro...,An ethnic group resides in a populated place. ...,10,297,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.842105,0.350000,0.888889,0.800000
895,relations=[EnrichedRelation(entity='Organisati...,A band has Organisation members with nationali...,10,298,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,NaN,NaN,NaN,NaN
896,"relations=[EnrichedRelation(entity='person', r...","A person is born in a populated place, a milit...",10,299,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,NaN,NaN,NaN,NaN

In [4]:
df_clean=df.dropna()
df_clean

,erl,response,n_nodes,seed,prompt_type,model_id,f1_score,edit_distance,precision,recall
1,relations=[EnrichedRelation(entity='written wo...,"A written work, which is a part of a multi-vol...",3,1,oneshot,NousResearch-Hermes-3-Llama-3.1-8B-GGUF,1.000000,1.000000,1.000000,1.000000
2,"relations=[EnrichedRelation(entity='work', rel...",A work stars an actor and has an auteur who is...,3,2,oneshot,NousResearch-Hermes-3-Llama-3.1-8B-GGUF,0.800000,0.800000,1.000000,0.666667
3,relations=[EnrichedRelation(entity='Organisati...,An organisation member of an organisation has ...,3,3,oneshot,NousResearch-Hermes-3-Llama-3.1-8B-GGUF,0.666667,0.400000,0.666667,0.666667
6,relations=[EnrichedRelation(entity='route of t...,A road or route of transportation has a route ...,3,6,oneshot,NousResearch-Hermes-3-Llama-3.1-8B-GGUF,0.800000,0.285714,1.000000,0.666667
7,relations=[EnrichedRelation(entity='cricketer'...,A cricketer has had a career station in their ...,3,7,oneshot,NousResearch-Hermes-3-Llama-3.1-8B-GGUF,0.500000,0.666667,0.500000,0.500000
...,...,...,...,...,...,...,...,...,...,...
890,"relations=[EnrichedRelation(entity='movie', re...",A movie has relations with a politician in cin...,10,293,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.333333,0.000000,1.000000,0.200000
891,"relations=[EnrichedRelation(entity='work', rel...",A baseball player produced a television show w...,10,294,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.181818,-0.114286,1.000000,0.100000
892,"relations=[EnrichedRelation(entity='person', r...",A person has an alma mater which is a school. ...,10,295,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.200000,-0.250000,1.000000,0.111111
893,relations=[EnrichedRelation(entity='Organisati...,An Organisation member is born in a town and t...,10,296,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.428571,-0.190476,0.750000,0.300000
894,relations=[EnrichedRelation(entity='ethnic gro...,An ethnic group resides in a populated place. ...,10,297,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.842105,0.350000,0.888889,0.800000

In [5]:
means = df_clean.groupby(["n_nodes", "prompt_type", "model_id"])[
    ["f1_score", "edit_distance"]
].mean()
means

                                                             f1_score  \
n_nodes prompt_type model_id
3       oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF  0.792651
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.790270
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.687356
5       oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF  0.696470
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.738273
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.521520
10      oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF  0.666962
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.641644
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.484287

                                                             edit_distance
n_nodes prompt_type model_id
3       oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF       0.569809
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.547992
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.355364
5       oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF       0.399666
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.419873
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.239316
10      oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF       0.322582
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.317094
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.147397

In [6]:
print(means.to_latex(float_format="%.2f"))

\begin{tabular}{lllrr}
\toprule
 &  &  & f1_score & edit_distance \\
n_nodes & prompt_type & model_id &  &  \\
\midrule
\multirow[t]{3}{*}{3} & \multirow[t]{2}{*}{oneshot} & NousResearch-Hermes-3-Llama-3.1-8B-GGUF & 0.79 & 0.57 \\
 &  & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.79 & 0.55 \\
\cline{2-5}
 & zeroshot & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.69 & 0.36 \\
\cline{1-5} \cline{2-5}
\multirow[t]{3}{*}{5} & \multirow[t]{2}{*}{oneshot} & NousResearch-Hermes-3-Llama-3.1-8B-GGUF & 0.70 & 0.40 \\
 &  & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.74 & 0.42 \\
\cline{2-5}
 & zeroshot & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.52 & 0.24 \\
\cline{1-5} \cline{2-5}
\multirow[t]{3}{*}{10} & \multirow[t]{2}{*}{oneshot} & NousResearch-Hermes-3-Llama-3.1-8B-GGUF & 0.67 & 0.32 \\
 &  & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.64 & 0.32 \\
\cline{2-5}
 & zeroshot & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.48 & 0.15 \\
\cline{1-5} \cline{2-5}
\bottomrule
\end{tabular}