In [1]:
import pandas as pd
import glob
import regex as re

In [2]:
files = glob.glob("results/*.csv")
dfs = [pd.read_csv(f, index_col=0) for f in files]
files

['results/eval_results_oneshot_NousResearch-Hermes-3-Llama-3.2-1B-GGUF.csv',
 'results/eval_results_zeroshot_NousResearch-Hermes-3-Llama-3.2-1B-GGUF.csv',
 'results/eval_results_oneshot_NousResearch-Hermes-3-Llama-3.2-8B-GGUF.csv',
 'results/eval_results_zeroshot_NousResearch-Hermes-3-Llama-3.1-8B-GGUF.csv',
 'results/eval_results_oneshot_NousResearch-Hermes-3-Llama-3.1-8B-GGUF.csv',
 'results/eval_results_zeroshot_NousResearch-Hermes-3-Llama-3.2-3B-GGUF.csv',
 'results/eval_results_oneshot_NousResearch-Hermes-3-Llama-3.2-3B-GGUF.csv']

In [3]:
for f, df in zip(files, dfs):

    prompt_type=re.findall(r"results/eval_results_(\w+)_.*", f)[0]
    model_id=re.findall(r"results/eval_results_\w+_(.+)\.csv", f)[0]
    df['prompt_type'] = prompt_type
    df['model_id'] = model_id

df = pd.concat(dfs)
df

,erl,response,n_nodes,seed,prompt_type,model_id,f1_score,edit_distance,generator,erl_loaded,precision,recall
0,relations=[EnrichedRelation(entity='Organisati...,An organisation member's death place is a stre...,3,0,oneshot,NousResearch-Hermes-3-Llama-3.2-1B-GGUF,NaN,NaN,NaN,NaN,NaN,NaN
1,relations=[EnrichedRelation(entity='written wo...,"A written work, which is a part of a multi-vol...",3,1,oneshot,NousResearch-Hermes-3-Llama-3.2-1B-GGUF,NaN,NaN,NaN,NaN,NaN,NaN
2,"relations=[EnrichedRelation(entity='work', rel...",A work stars an actor and has an auteur who is...,3,2,oneshot,NousResearch-Hermes-3-Llama-3.2-1B-GGUF,NaN,NaN,NaN,NaN,NaN,NaN
3,relations=[EnrichedRelation(entity='Organisati...,An organisation member of an organisation has ...,3,3,oneshot,NousResearch-Hermes-3-Llama-3.2-1B-GGUF,NaN,NaN,NaN,NaN,NaN,NaN
4,relations=[EnrichedRelation(entity='Grand Prix...,The Grand Prix has its first driver being a Sp...,3,4,oneshot,NousResearch-Hermes-3-Llama-3.2-1B-GGUF,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1795,"{""relations"":[{""entity"":""ethnic group"",""relati...",a ethnic group has a population place with pop...,10,297,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.842105,0.259259,templated,relations=[EnrichedRelation(entity='ethnic gro...,0.888889,0.8
1796,"{""relations"":[{""entity"":""Organisation member"",...",An Organisation member has nationality of a co...,10,298,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,NaN,NaN,llama,relations=[EnrichedRelation(entity='Organisati...,NaN,NaN
1797,"{""relations"":[{""entity"":""Organisation member"",...",a Organisation member has a nationality with c...,10,298,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,NaN,NaN,templated,relations=[EnrichedRelation(entity='Organisati...,NaN,NaN
1798,"{""relations"":[{""entity"":""person"",""relation"":""b...",- A person is born in a populated place.\n- A ...,10,299,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,NaN,NaN,llama,"relations=[EnrichedRelation(entity='person', r...",NaN,NaN
1799,"{""relations"":[{""entity"":""person"",""relation"":""b...",a person has a birth place with populated plac...,10,299,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.181818,-0.177778,templated,"relations=[EnrichedRelation(entity='person', r...",1.000000,0.1

In [4]:
df_clean=df.dropna()
df_clean

,erl,response,n_nodes,seed,prompt_type,model_id,f1_score,edit_distance,generator,erl_loaded,precision,recall
2,"{""relations"":[{""entity"":""written work"",""relati...",A multi-volume publication has volumes of a wr...,3,1,oneshot,NousResearch-Hermes-3-Llama-3.1-8B-GGUF,1.000000,0.800000,llama,relations=[EnrichedRelation(entity='written wo...,1.000000,1.000000
3,"{""relations"":[{""entity"":""written work"",""relati...","a written work has a starring with actor, and ...",3,1,oneshot,NousResearch-Hermes-3-Llama-3.1-8B-GGUF,1.000000,1.000000,templated,relations=[EnrichedRelation(entity='written wo...,1.000000,1.000000
4,"{""relations"":[{""entity"":""work"",""relation"":""sta...",A work features an actor and is directed by a ...,3,2,oneshot,NousResearch-Hermes-3-Llama-3.1-8B-GGUF,0.800000,0.400000,llama,"relations=[EnrichedRelation(entity='work', rel...",1.000000,0.666667
5,"{""relations"":[{""entity"":""work"",""relation"":""sta...","a work has a starring with actor, and a work h...",3,2,oneshot,NousResearch-Hermes-3-Llama-3.1-8B-GGUF,0.800000,0.800000,templated,"relations=[EnrichedRelation(entity='work', rel...",1.000000,0.666667
6,"{""relations"":[{""entity"":""Organisation member"",...",An organization member of an organization died...,3,3,oneshot,NousResearch-Hermes-3-Llama-3.1-8B-GGUF,0.333333,0.000000,llama,relations=[EnrichedRelation(entity='Organisati...,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...
1786,"{""relations"":[{""entity"":""movie"",""relation"":""ci...",A movie has cinematography done by a politicia...,10,293,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.571429,0.100000,llama,"relations=[EnrichedRelation(entity='movie', re...",1.000000,0.400000
1791,"{""relations"":[{""entity"":""person"",""relation"":""a...","a person has a alma mater with school, and a p...",10,295,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.200000,0.250000,templated,"relations=[EnrichedRelation(entity='person', r...",1.000000,0.111111
1793,"{""relations"":[{""entity"":""Organisation member"",...",a Organisation member has a birth place with t...,10,296,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.166667,-0.160000,templated,relations=[EnrichedRelation(entity='Organisati...,0.500000,0.100000
1795,"{""relations"":[{""entity"":""ethnic group"",""relati...",a ethnic group has a population place with pop...,10,297,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.842105,0.259259,templated,relations=[EnrichedRelation(entity='ethnic gro...,0.888889,0.800000
1799,"{""relations"":[{""entity"":""person"",""relation"":""b...",a person has a birth place with populated plac...,10,299,oneshot,NousResearch-Hermes-3-Llama-3.2-3B-GGUF,0.181818,-0.177778,templated,"relations=[EnrichedRelation(entity='person', r...",1.000000,0.100000

In [5]:
means = df_clean.groupby(["n_nodes", "prompt_type", "model_id"])[
    ["f1_score", "edit_distance"]
].mean()
means

                                                             f1_score  \
n_nodes prompt_type model_id
3       oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF  0.819889
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.845789
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.644561
5       oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF  0.791385
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.776227
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.574805
10      oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF  0.744183
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.679030
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF  0.486577

                                                             edit_distance
n_nodes prompt_type model_id
3       oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF       0.651270
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.606147
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.392786
5       oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF       0.549556
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.478066
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.336757
10      oneshot     NousResearch-Hermes-3-Llama-3.1-8B-GGUF       0.434014
                    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.365603
        zeroshot    NousResearch-Hermes-3-Llama-3.2-3B-GGUF       0.178559

In [6]:
print(means.to_latex(float_format="%.2f"))

\begin{tabular}{lllrr}
\toprule
 &  &  & f1_score & edit_distance \\
n_nodes & prompt_type & model_id &  &  \\
\midrule
\multirow[t]{3}{*}{3} & \multirow[t]{2}{*}{oneshot} & NousResearch-Hermes-3-Llama-3.1-8B-GGUF & 0.82 & 0.65 \\
 &  & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.85 & 0.61 \\
\cline{2-5}
 & zeroshot & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.64 & 0.39 \\
\cline{1-5} \cline{2-5}
\multirow[t]{3}{*}{5} & \multirow[t]{2}{*}{oneshot} & NousResearch-Hermes-3-Llama-3.1-8B-GGUF & 0.79 & 0.55 \\
 &  & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.78 & 0.48 \\
\cline{2-5}
 & zeroshot & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.57 & 0.34 \\
\cline{1-5} \cline{2-5}
\multirow[t]{3}{*}{10} & \multirow[t]{2}{*}{oneshot} & NousResearch-Hermes-3-Llama-3.1-8B-GGUF & 0.74 & 0.43 \\
 &  & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.68 & 0.37 \\
\cline{2-5}
 & zeroshot & NousResearch-Hermes-3-Llama-3.2-3B-GGUF & 0.49 & 0.18 \\
\cline{1-5} \cline{2-5}
\bottomrule
\end{tabular}